<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<div id="main-wrapper">
<div id="main">

  <h1>New faculty</h1>

  <%= render 'form' %>

  <%= link_to 'Back', admin_faculties_path %>

</div>
</div>
</body>
</html>