<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<div id="main">

  <h1>Editing course</h1>

  <%= render 'form' %>

  <%= link_to 'Show', admin_course_path(@course) %> |
  <%= link_to 'Back', admin_courses_path %>

</div>
</body>
</html>