#wrapper{
	margin: 0 auto;
	text-align: left;
	width: 65%;
	min-width: 600;
	border-right: 3px solid #54879d;
}

	#header-left{
	position:relative;
	float: left;
	display: inline-block;	
	}
	
	#header-right{
		margin-top:12px;
		position:relative;
		float:left;
		display: inline;
	}

	#wrap{
		width: 100%; /* Spans the width of the page */
		top: 150px;
		text-align:left;
		position: relative; /*background-color: #366b82;*/ }
		#horizontal_bar {
			width: 100%; /* Spans the width of the page */
			margin-top: 40px;
			margin-left: 220px;
			height: 50px;
			z-index: 99; /* Makes sure that your menu remains on top of other page elements */
			position: relative; /*background-color: #366b82;*/ }

			.navbar {
				height: 50px;
				padding: 0;
				margin: 0;
				position: absolute; /* Ensures that the menu doesn’t affect other elements */
				border-right: 1px solid #54879d; }

				.navbar li {
					height: auto;
					width: 150px; /* Each menu item is 150px wide */
					float: left; /* This lines up the menu items horizontally */
					text-align: center; /* All text is placed in the center of the box */
					list-style: none; /* Removes the default styling (bullets) for the list */
					font: normal bold 12px/1.2em Arial, Verdana, Helvetica;
					padding: 0;
					margin: 0;
					background-color: #5D478B; }

				.navbar a {
					padding: 18px 0; /* Adds a padding on the top and bottom so the text appears centered vertically */
					border-left: 1px solid #54879d; /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
					border-right: 1px solid #1f5065; /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
					text-decoration: none; /* Removes the default hyperlink styling. */
					color: white; /* Text color is white */
					display: block; }

				.navbar li:hover, a:hover { background-color: #5D478B; }

				.navbar li ul {
					display: none; /* Hides the drop-down menu */
					height: auto;
					margin: 0; /* Aligns drop-down box underneath the menu item */
					padding: 0; /* Aligns drop-down box underneath the menu item */ }

				.navbar li:hover ul { display: block; /* Displays the drop-down box when the menu item is hovered over */ }

				.navbar li ul li { background-color: #5D478B; }

					.navbar li ul li a {
						border-left: 1px solid #1f5065;
						border-right: 1px solid #1f5065;
						border-top: 1px solid #74a3b7;
						border-bottom: 1px solid #1f5065; }
						.navbar li ul li a:hover { background-color: #5D478B; }
				
	div#vmenu {
		margin: 0;
		padding: 0em 0em 0em 0em;
		border: solid 1px #54879d;
		background: #5D478B;
		width: 13.5em; 
		position:absolute;}

		div#vmenu ul {
			margin: 0;
			padding: 0;
			list-style: none; }

			div#vmenu ul li {
				margin: 0;
				padding: 0;
				list-style: none; }

			div#vmenu ul a:link {
				margin: 0;
				padding: .2em 0em .2em .4em;
				text-decoration: none;
				font-weight: bold;
				font-size: medium;
				background-color: #54879d;
				color: #0059a0;
				display: block; }

			div#vmenu ul a:active {
				margin: 0;
				padding: .25em .5em .25em .5em;
				text-decoration: none;
				font-weight: bold;
				font-size: medium;
				background: #54879d;
				color: #ffffff;
				display: block; }

			div#vmenu ul a:visited {
				margin: 0;
				padding: .25em .5em .25em .5em;
				text-decoration: none;
				font-weight: bold;
				font-size: medium;
				background: #54879d;
				color: #ffffff;
				display: block; }

			div#vmenu ul li a:hover {
				margin: 0;
				padding: .2em 0em .2em .4em;
				text-decoration: none;
				font-weight: bold;
				font-size: medium;
				background-color: #54879d;
				color: #ffffff;
				display: block; } 
				
	#main_body{

	}