<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<h1>About CIS</h1>
<h2>Our Mission</h2>

<p>Our mission at the K-State Department of Computing and Information Sciences is to be the flagship computer science, information systems, and software engineering department in the State of Kansas.</p>

<p>Read more about our Mission and Progress.</p>
<p>Department Info</p>

<p>Quality education, scholarship, and research are the objectives of the Computing and Information Sciences Department of Kansas State University. Bachelor-level degrees are offered in computer science, information systems, and software engineering. Graduate degrees at the Master's and Ph.D. level are awarded for advanced studies.</p>

<p>Read more about our department. Find out more about the K-State Campus and the city of Manhattan, KS. Get driving directions to CIS.</p>

<p>Read some of our thoughts about ethics and computing. Learn about the CIS Industry Advisory Board. Have a look at our annual reports, which detail the yearly progress of our department.</p>

<h3>Nichols Hall</h3>

<p>In addition to being one of the most striking buildings on the Kansas State University campus, Nichols Hall has also one of the most interesting histories. Originally serving as K-State's basketball gymnasium, Nichols Hall has served a myriad of purposes throughout its lifetime. However, on Friday, December 13th, 1968, an arsonist started a massive fire; the conflagration soon consumed the entire building. The complete interior of the building was destroyed, but the strong stone exterior remained.</p>

<p>In 1975, a group of students began a campaign to rebuild Nichols Hall. With the help of the Kansas Legislature, $6.2 million was raised and renovation on the building began in 1983. Nichols Hall was reopened on November 16, 1985, this time housing the Department of Speech Communications, Theatre and Dance, and the Department of Computing and Information Sciences
</p>

</body>
</html>