#header-wrapper{
	text-align:center;
}

#main a:link, a:visited, a:hover, a:active{
	color:black;
	display: inline-block;
}

#accordion{
	collapsible: true;
	active: false;
}

/*used to center objects on page */
#main-wrapper{
	text-align:center;
	background-color: #333;
	
}
	#main{
		height: calc(100% - 30px);
		display:inline-block;
		max-width: 765px;
		min-width: 765px; 
		text-align: left;
		background-color: white;
	}
	#wrapper{
		display:inline-block;
		width: 100%; /* Spans the width of the page */
		text-align: left;
	}
	
	#header {
		background: linear-gradient(to bottom, #4F2684 0%, #7137BD 100%) repeat scroll 0% 0% transparent;
		height:100px;
	}
		#header-logo{
			padding-top: 10px;
			color: #512888;
			text-decoration: none;
			display: inline-block;
			text-align:left;
		}

		#login-wrapper{
			width: 450px;
			display:inline-block;
			margin-right: 5px;
		}

			#login{
				text-align: right;
			}

			#login-wrapper p, a:visited, a:active, a:link, a:hover{
				color:white;
				display:inline-block;
			}
	
	
	.navbar {
			display: inline-block;
			padding: 0;
			text-align:left;

		}
		.navbar li {
				height: 36px;
				width: 109px; /* Each menu item is 150px wide */
				float: left; /* This lines up the menu items horizontally */
				text-align: center; /* All text is placed in the center of the box */
				list-style: none; /* Removes the default styling (bullets) for the list */
				font: normal bold 12px/1.2em Arial, Verdana, Helvetica;
				padding: 0;
				margin: 0;
				background-color: #5D478B; 
				display:relative;
			}

			.navbar a{
				padding: 18px 0; /* Adds a padding on the top and bottom so the text appears centered vertically */
				text-decoration: none; /* Removes the default hyperlink styling. */
				color: white; /* Text color is white */
				display: block; 
			}

			.navbar li:hover, a:hover { background-color: #5D478B;
				height: 1px;
				display:block;
				color: white;
			}
			
			.navbar a:visited, a:active, a:link{
				color:white;
			}
			
	
	/*Specific to homepage tables */
	#main #event_table{
		border-radius:25px;
		margin-left:10px;
		width: 350px;
		max-height: 550px;
		overflow:auto;
		border-style:solid;
		border-width: 1px;
		display:inline-block;
	}
	/*Specific to homepage tables */
	#main #employment_table{
		border-radius:25px;
		margin-left: 10px;
		width: 350px;
		max-height: 550px;
		overflow:auto;
		border-style:solid;
		border-width: 1px;
		display:inline-block;
		
	}