<html>
<head>
<%=render "/layouts/header" %>
<link rel=stylesheet type="text/css" href="/public/employment.css">

</head>
<body>
<br><br>
<ul class="thumbnails">
	<li style="width: 300px; height: 400px;">
		<div class="thumbnail">
			<img alt="300x200" style="width: 300px; height: 200px;" src="temp-pic.jpg"></img>
			<div class="caption">
				<h3>
					Thumbnail label
				</h3>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas
				</p>
			</div>
		</div>
	</li>
	<li style="width: 300px; height: 400px;">
		<div class="thumbnail">
			<img alt="300x200" style="width: 300px; height: 200px;" src="temp-pic.jpg"></img>
			<div class="caption">
				<h3>
					Thumbnail label
				</h3>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas
				</p>
			</div>
		</div>
	</li>
</ul>
 
</body>
</html>