<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<div id="main">

  <h1>New event</h1>

  <%= render 'form' %>

  <%= link_to 'Back', admin_events_path %>

</div>
</body>
</html>