<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<div id="main-wrapper">
<div id="main">

  <h1>Editing club</h1>

  <%= render 'form' %>

  <%= link_to 'Show', admin_club_path(@club) %> |
  <%= link_to 'Back', admin_clubs_path %>
  
</div>
</div>
</body>
</html>
