<!DOCTYPE html>
<meta charset="utf-8">
<title>Computing and Information Sciences | College of Engineering</title>
<link rel=stylesheet type="text/css" href="Homepagecss.css">
<link rel=stylesheet type="text/css" href="bootstrap-311/css/bootstrap.min.css">
<link rel=stylesheet type="text/css" href="bootstrap-311/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="bootstrap-311/js/bootstrap.js"></script>

<body>
  <div id = "wrapper">
    <div id = "header">
      <div id="header-logo">
		<a href="/welcome"><img width="288" height="70" src="/../wordmark.png" alt="Kansas State University"></a>
      </div>
	  <div id="login-wrapper">
		<div id="login">
		  <a href="/login"> Sign in </a>				
		</div>
	  </div>
	</div>

    <!-- EXAMPLE: http://www.bootply.com/111223 -->

	<ul class="navbar">
	  <li><a href="/welcome">Home</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="/courses">Courses</a></li>
	  <li><a href="/faculties">Faculty</a></li>
	  <li><a href="/employments">Employment</a></li>
	  <li><a href="/clubs">Clubs</a></li>
	  <li><a href="/events">Events</a></li>
	</ul>
  </div>
</body>