<!DOCTYPE html>
<meta charset="utf-8">
<title>Computing and Information Sciences | College of Engineering</title>
<link rel=stylesheet type="text/css" href="Homepagecss.css">
<link rel=stylesheet type="text/css" href="bootstrap-311/css/bootstrap.min.css">
<link rel=stylesheet type="text/css" href="bootstrap-311/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="bootstrap-311/js/bootstrap.js"></script>

<body>
	<div id = "wrapper">
		<div id = "header">
			<div id="header-logo">
				<a href="/welcome"><img width="288" height="70" src="/../wordmark.png" alt="Kansas State University"></a>
			</div>
		</div>
		<div id="wrap">
			<div id="horizontal_bar">
				  <ul class="navbar">
					 <li><a href="/welcome">Home</a></li>
					 <li><a href="/about">About</a></li>
					 <li><a href="/courses">Courses</a></li>
					 <li><a href="#">Programs</a></li>
					 <li><a href="/employments">Employment</a></li>
					 <li><a href="/clubs">Clubs</a></li>
					 <li><a href="/events">Events</a></li>
				  </ul>
				</div>
				
				
		<!--
			<div id="vmenu"> 
				<ul> 
				  <li><%= link_to 'Home', :welcome %></li> 
				  <li><a href="http://reddit.com">Item 2</a></li> 
				  <li><a href="http://www.reddit.com/r/collegebasketball">Item 3</a></li> 
				  <li><a href="http://www.w3.org">Item 4</a></li> 
				  <li><a href="http://www.w3.org/Consortium/">Item 5</a></li> 
				  <li><a href="http://www.w3.org/Consortium/join">Item 6</a></li> 
				  <li><a href="http://www.w3.org/Consortium/contact">Item 7</a></li> 
				</ul>   
			</div>
		-->
		</div> 
	</div>
</body>