<html>
<head>
<%=render "/layouts/header" %>
</head>
<body>
<div id="main-wrapper">
	<div id="main">

	  <h1>Sign Up</h1>

	  <%= render 'form' %>

	  <%= link_to 'Back', login_path %>
	  
	</div>
</div>
</body>
</html>